body {
  background-color: #f4d04e;
}
div {
  border: solid 5px black;
}
.card {
  background-color: white;
  height: 522px;
  width: 384px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.image {
  width: 336px;
  height: 200px;
  
}
.drawing {
  border-radius: 10px;
  width: 336px;
  height: 200px;
  
}
p {
  font-family: Figtree; 
  line-height: 150%;
  letter-spacing: 0px;
}
.inner-text {
  width: 336px;
  height: 194px;
}
.learning-tag {
  font-weight: bold;
  font-size: 16px;
  color: #111111;
  background-color: #f4d04e;
  height: 29px;
  width: 82px;
  text-align: center;
  border-radius: 10px;
  margin: 12px 4px;
  border-radius: 4px;
}
.publish-date {
  font-size: 14px;
  font-weight: medium;
  color: #111111;
  width: 143px;
  height: 21px;
}
.course-title {
  font-size: 24px;
  font-weight: bolder;
  color: #111111;
  width: 336px;
  height: 36px;
  margin: 5px 5px;
 
}
.description {
  font-size: 16px;
  font-weight: medium;
  color: #6b6b6b;
  width: 336px;
  height: 72px;

}
.author-image {
  width: 32px;
  height: 32px;
}
.author-name {
  font-size: 14px;
  font-weight: bolder;
  color: #111111;
  width: 85px;
  height: 21px;
}