body {
  background-color: yellow;
}
.card {
  background-color: white;
  height: 522px;
  width: 384px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.image {
  padding: 25px 25px;
}
.drawing {
  border-radius: 10px;
}